@import url('https://fonts.googleapis.com/css2?family=Orbitron&family=Roboto&display=swap');
*{
    box-sizing: border-box;
    margin: 0px;
}
body{
    display: grid;
    grid-template: 
        "sidebar header" 0.3fr
        "sidebar main" auto
        / 250px 1fr;
    height: 100vh;
}
aside{
    grid-area: sidebar;
    display: grid;
    grid-template: 
    "top-sidebar" 75px
    "medium-sidebar" 300px
    "bottom-sidebar" 1fr
    / 1fr;
    padding-top: 1rem;
    color: white;
    background-color: #64748B;
    height: 100vh;
}
aside > p {
    display: flex;
    align-items: center;
}
.top-sidebar{
    grid-area: top-sidebar;
    padding-left: 1rem;

}
.top-sidebar > h1 {
    display: flex;
    align-items: center; 
    font-family: 'Orbitron' , sans-serif ;
}
.top-sidebar > h1 > img {
    margin-right: 1rem;
}
.medium-sidebar{
    grid-area: medium-sidebar;
}
.bottom-sidebar{
    grid-area: bottom-sidebar;
}
aside > nav > p{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    padding-left: 1rem;
    font-family: 'Orbitron' , sans-serif ;
}
aside > nav > p > img{
    margin-right: 1rem;
}
header{
    grid-area: header;
    display: grid;
    grid-template:
        "top-header" 75px
        "below-header" 75px;
    background-color: #ffffff;
}
header, main {
    font-family: 'Roboto', sans-serif;
}
.top-header{
    grid-area: top-header;
    display: grid;
    grid-template:
        "th-left th-right" 1fr
        / 1fr 400px;
    padding-right: 2rem;
}
.top-header > form {
    grid-area: th-left;
    display: flex;
    align-items: center;
    padding-left: 2rem;
}
.top-header > form > input {
    width: 90%;
    height: 1.9rem;
    margin-left: 1rem;
    border-radius: 10rem;
    background-color: #e2e8f0;
    border: 0px;
    text-align: center;
}
.top-header > div {
    grid-area: th-right;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 2rem;
}

.below-header{
    grid-area: below-header;
    display: grid;
    grid-template:
        "be-left be-right" 1fr
        / 1fr 400px;
    box-shadow: 0px 3px 0px rgba(0, 0, 0, 0.24);
    margin-bottom: 3px;
    padding-right: 2rem;
}
.below-header-left{
    grid-area: be-left;
    display: flex;
    align-items: center;
    padding-left: 2rem;
    
}
.below-header-left > div{
    display: block;
}
.below-header-right{
    grid-area: be-right;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 1rem;
}
.below-header-right > button {
    width: 6rem;
    height: 2.5rem;
    background-color: #64748B;
    color: white;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 3px, rgba(0, 0, 0, 0.24) 0px 1px 2px;
    border: 0px;

}
main{
    grid-area: main;
    background-color: #e2e8f0;
    display: grid;
    grid-template:
    "main-left main-right" 1fr
    / 3fr 1fr;
    padding-left: 1rem;
    padding-right: 1rem;
}
.main-left{
    grid-area: main-left;
    display: grid;
    grid-template: 
    "main-cards-title" 50px
    "main-cards" 1fr
    "main-cards-footer" 50px
    / 1fr;
    padding-right: 2rem;
    padding-left: 1rem;
}
.main-left > .main-cards-title {
    grid-area: main-cards-title;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.main-left > .main-cards {
    grid-area: main-cards;
    display: grid;
    grid-template:
    "card1 card2" 1fr
    "card3 card4" 1fr
    "card5 card6" 1fr
    / 1fr 1fr; 
    gap: 2rem;
}
.main-left > .main-cards-footer{
    grid-area: main-cards-footer;
}
.card1 {
    grid-area: card1;
}
.card2 {
    grid-area: card2;
}
.card3 {
    grid-area: card3;
}
.card4 {
    grid-area: card4;
}
.card5 {
    grid-area: card5;
}
.card6 {
    grid-area: card6;
}
.card{
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 10px;
    border-left: 3px solid #efb42b;
    display: grid;
    grid-template: 
    "card-text" 0.95fr
    "card-buttons" 0.05fr
    / 1fr;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.card > .card-top {
    grid-area: card-text;
}
.card > .card-btn {
    grid-area: card-buttons;
    display: flex;
    justify-content: flex-end;
}
.card > .card-btn > img {
    padding-right: 1rem;
}
.main-right{
    grid-area: main-right;
    display: grid;
    grid-template:  
    "main-right-top" 1fr
    "main-right-bottom" auto
    "main-right-footer" 50px
    / 1fr;
}
.main-right-top{
    grid-area: main-right-top;
    display: grid;
    grid-template: 
    "main-right-top-title" 50px
    "main-right-top-card" 1fr 
    / 1fr;
}
.main-right-top > h3 {
    grid-area: main-right-top-title;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.main-right-top-card{
    grid-area: main-right-top-card;
    padding: 1.2rem;
    background-color: #ffffff;
    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: space-between;
}
.main-right-bottom {
    grid-area: main-right-bottom;
    display: grid;
    grid-template: 
    "main-right-bottom-title" 50px
    "main-right-bottom-card" 1fr 
    / 1fr;
}
.main-right-bottom > h3 {
    grid-area: main-right-bottom-title;
    display: flex;
    align-items: flex-end;
    padding-bottom: 0.5rem;
}
.main-right-bottom-card{
    grid-area: main-right-bottom-card;
    padding: 1rem;
    background-color: #ffffff;
    border-radius: 4px;
    display: grid;
    grid-template: 1fr 1fr 1fr 1fr / 1fr;
    row-gap: 0.5rem;
    box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}
.main-right-bottom-card > div > img{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    height: 64px;
    width: 64px;
    object-fit: contain;
}
.main-right-bottom-card > div {
    display: grid;
    grid-template: 1fr / 0.3fr 1fr;
    column-gap: 1rem;
    align-items: center;
}
hr{
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    border: 1px solid lightgray;
}
.main-right-footer{
    grid-area: main-right-footer;
}

.icon-black {
    filter: invert(100%) sepia(0%) saturate(24%) hue-rotate(114deg) brightness(108%) contrast(108%);
}
.bold {
    font-weight: bold;
}
.grey{
    color: grey;
}
.small {
    font-size: 0.8rem;
}
.user-info > img {
    margin-right: 1rem;
}